.firstview {
    position: relative;
    width: 100%;
    height: 600px;
    background: url('../images/firstview-bg.png') 50% 0% no-repeat;
    background-size: cover;
    &--logo {
        width: 154px;
        height: auto;
        position: absolute;
        top: 50px;
        left: 50px;
    }
    &__inner {
        height: 100%;
        display: grid;
        place-content: center;
        &--subtitle,
        &--title {
            font-size: 54px;
            line-height: 1;
            font-family: 'Big Caslon', serif;
            color: $color-red;
            text-align: center;
        }
        &--title {
            margin-top: 20px;
            font-size: 111px;
        }
    }
}

main {
    .all-items {
        &--title {
            margin: 100px auto 80px;
            font-size: 48px;
            line-height: 1;
            font-family: $font-poppins;
            color: $color-red;
            text-align: center;
        }
        &__inner {
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
            padding-bottom: 190px;
            @include display-flex(row, space-between, flex-start);
            flex-wrap: wrap;
            row-gap: 40px;
            &::after {
                content: '';
                box-sizing: border-box;
                width: 32%;
                max-width: 400px;
            }
            &__block {
                box-sizing: border-box;
                width: 32%;
                max-width: 400px;
                min-width: 240px;
                padding: 26px 22px;
                background-color: $color-white;
                border: 1px solid #b3b3b3;
                &--item-image {
                    width: 100%;
                    height: auto;
                }
                &__item {
                    height: 150px;
                    &--japanese-title {
                        margin: 26px auto 10px;
                        font-size: unquote('clamp(1.125rem, 0.7813rem + 0.9766vw, 1.5625rem)');
                        font-weight: 600;
                        line-height: 1.35;
                        font-family: $font-poppins;
                        color: $color-black;
                        text-align: center;
                        text-wrap: pretty;
                    }
                    &--english-title {
                        margin: 0 auto 10px;
                        font-size: unquote('clamp(1.25rem, 0.7813rem + 0.9766vw, 1.5625rem)');
                        font-weight: 600;
                        line-height: 1.35;
                        font-family: $font-poppins;
                        color: $color-black;
                        text-align: center;
                        text-wrap: pretty;
                    }
                }
                &--item-btn {
                    display: block;
                    width: 80%;
                    margin: 0 auto;
                    padding: 16px 0;
                    background-color: #ee7b62;
                    border-radius: 25px;
                    font-size: unquote('clamp(0.9375rem, 0.6563rem + 0.5859vw, 1.125rem)');
                    font-weight: 500;
                    line-height: 1;
                    font-family: $font-poppins;
                    color: $color-white;
                    text-align: center;
                    text-decoration: none;
                    transition: background-color 0.3s;
                    &:hover {
                        cursor: pointer;
                        background-color: #f3937e;
                    }
                }
            }
        }
    }
}
.l-footer {
    background-color: #333;
    padding: 50px 0;
    &--copyright {
        font-size: 14px;
        line-height: 1;
        font-family: $font-poppins;
        color: $color-white;
        text-align: center;
    }
}
.page-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: opacity 0.5s;
    img {
        width: 100%;
        height: auto;
    }
    &.display {
        opacity: 1;
    }
    &.remove {
        opacity: 0;
    }
}

@include min(mb) {
    .firstview {
        width: 100%;
        max-width: 100vw;
        height: 600px;
        background: url('../images/firstview-bg-sp.png') 50% 0% no-repeat;
        background-size: cover;
        &--logo {
            width: 90px;
            height: auto;
            position: absolute;
            top: 20px;
            left: 20px;
        }
        &__inner {
            height: 100%;
            display: grid;
            place-content: center;
            &--subtitle,
            &--title {
                font-size: 32px;
                line-height: 1.4;
                font-family: 'Big Caslon', serif;
                color: $color-red;
                text-align: center;
            }
            &--title {
                margin-top: 10px;
                font-size: 60px;
                line-height: 1.2;
            }
        }
    }

    main {
        .all-items {
            &__inner {
                width: 97%;
                max-width: 100vw;
                padding-bottom: 100px;
                @include display-flex(row, space-between, stretch);
                row-gap: 10px;
                &::after {
                    display: none;
                    width: auto;
                    max-width: auto;
                }
                &__block {
                    box-sizing: border-box;
                    width: 49.2%;
                    max-width: auto;
                    min-width: auto;
                    padding: 10px 8px 10px;
                    &__item {
                        height: 130px;
                        &--japanese-title {
                            margin: 16px auto 6px;
                            font-size: 18px;
                        }
                        &--english-title {
                            margin: 0 auto 10px;
                            height: auto;
                            font-size: 18px;
                            line-height: 1.35;
                        }
                    }
                    &--item-btn {
                        padding: 12px 0;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .l-footer {
        background-color: #333;
        padding: 50px 0;
        &--copyright {
            font-size: 14px;
            line-height: 1;
            font-family: $font-poppins;
            color: $color-white;
            text-align: center;
        }
    }
}
