.item-profile-page {
    background-color: $color-white;
    .item-profile {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 80px 60px 30px;
        background-color: $color-white;

        &__inner {
            max-width: 1440px;
            margin: 0 auto;
            @include display-flex(row, space-between, flex-start);
            &__image {
                width: 43%;
                max-width: 550px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            &__content {
                width: 50%;
                &--product-japanese-name {
                    font-size: 32px;
                    line-height: 1.3;
                    font-family: $font-poppins;
                    font-weight: 600;
                }
                &--product-name {
                    font-size: 32px;
                    line-height: 1.3;
                    font-family: $font-poppins;
                    font-weight: 600;
                }
                &--hr {
                    width: 100%;
                    display: block;
                    border-top: 1px dashed #808080;
                    margin: 24px 0;
                }
                &--product-detail {
                    font-size: 18px;
                    line-height: 1.5;
                    font-family: $font-poppins;
                    font-weight: 500;
                }
                &__info {
                    width: 100%;
                    border: 1px solid #b2b2b2;
                    margin-top: 20px;
                    &__row {
                        width: 100%;
                        border: 1px solid #b2b2b2;
                        background-color: #eaf0f2;
                        &:nth-child(2n) {
                            background-color: $color-white;
                        }
                        &--title {
                            padding: 12px 10px;
                            width: 33%;
                            border-right: 1px solid #b2b2b2;
                            font-size: 18px;
                            line-height: 1;
                            font-family: $font-poppins;
                            font-weight: 500;
                            vertical-align: middle;
                        }
                        &--detail {
                            padding: 12px 10px;
                            width: 67%;
                            font-size: 18px;
                            line-height: 1.2;
                            font-family: $font-poppins;
                            font-weight: 500;
                        }
                    }
                }
                &__cooking {
                    margin-top: 24px;
                    &--title {
                        font-size: 18px;
                        line-height: 1.5;
                        font-family: $font-poppins;
                        font-weight: 700;
                    }
                    &--detail {
                        font-size: 18px;
                        line-height: 1.5;
                        font-family: $font-poppins;
                        font-weight: 500;
                    }
                }
                &--all-list-btn {
                    margin-top: 24px;
                    display: block;
                    width: fit-content;
                    padding: 20px 70px;
                    background-color: #64b1ba;
                    font-size: 18px;
                    line-height: 1;
                    font-family: $font-poppins;
                    font-weight: 600;
                    color: $color-white;
                    text-decoration: none;
                    transition: background-color 0.3s;
                    &:hover {
                        cursor: pointer;
                        background-color: #70c6d0;
                    }
                }
            }
        }
    }
}

@include min(mb) {
    .item-profile-page {
        max-width: 100vw;
        .item-profile {
            padding: 40px 20px 100px;
            background-color: $color-white;

            &__inner {
                max-width: 100%;
                @include display-flex(column, center, center);
                &__image {
                    width: 100%;
                    max-width: 100%;
                }
                &__content {
                    width: 100%;
                    &--product-japanese-name {
                        margin-top: 20px;
                        font-size: 28px;
                    }
                    &--product-name {
                        font-size: 28px;
                    }
                    &__info {
                        &__row {
                            &--title {
                                line-height: 1.2;
                                vertical-align: middle;
                            }
                            &--detail {
                                vertical-align: middle;
                            }
                        }
                    }
                    &__cooking {
                        &--title {
                            margin-bottom: 16px;
                        }
                    }
                    &--all-list-btn {
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;
                        padding: 20px 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}
