/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #f8f4e9;
  font-size: 16px;
  line-height: 1em;
  color: #000000;
  letter-spacing: 0;
  scroll-behavior: smooth;
  width: 100%;
  position: relative; }

.firstview {
  position: relative;
  width: 100%;
  height: 600px;
  background: url("../images/firstview-bg.png") 50% 0% no-repeat;
  background-size: cover; }
  .firstview--logo {
    width: 154px;
    height: auto;
    position: absolute;
    top: 50px;
    left: 50px; }
  .firstview__inner {
    height: 100%;
    display: grid;
    place-content: center; }
    .firstview__inner--subtitle, .firstview__inner--title {
      font-size: 54px;
      line-height: 1;
      font-family: 'Big Caslon', sans-serif;
      color: #925541;
      text-align: center; }
    .firstview__inner--title {
      margin-top: 20px;
      font-size: 111px; }

main .all-items--title {
  margin: 100px auto 80px;
  font-size: 48px;
  line-height: 1;
  font-family: "Poppins", arial;
  color: #925541;
  text-align: center; }

main .all-items__inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 190px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 40px; }
  main .all-items__inner::after {
    content: '';
    box-sizing: border-box;
    width: 32%;
    max-width: 400px; }
  main .all-items__inner__block {
    box-sizing: border-box;
    width: 32%;
    max-width: 400px;
    min-width: 240px;
    padding: 26px 22px;
    background-color: #ffffff;
    border: 1px solid #b3b3b3; }
    main .all-items__inner__block--item-image {
      width: 100%;
      height: auto; }
    main .all-items__inner__block--item-title {
      margin: 26px auto 10px;
      height: 100px;
      font-size: clamp(1.25rem, 0.7813rem + 0.9766vw, 1.5625rem);
      font-weight: 600;
      line-height: 1.25;
      font-family: "Poppins", arial;
      color: #000000;
      text-align: center; }
    main .all-items__inner__block--item-btn {
      display: block;
      width: 80%;
      margin: 0 auto;
      padding: 16px 0;
      background-color: #ee7b62;
      border-radius: 25px;
      font-size: clamp(0.9375rem, 0.6563rem + 0.5859vw, 1.125rem);
      font-weight: 500;
      line-height: 1;
      font-family: "Poppins", arial;
      color: #ffffff;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.3s; }
      main .all-items__inner__block--item-btn:hover {
        cursor: pointer;
        background-color: #f3937e; }

.l-footer {
  background-color: #333;
  padding: 50px 0; }
  .l-footer--copyright {
    font-size: 14px;
    line-height: 1;
    font-family: "Poppins", arial;
    color: #ffffff;
    text-align: center; }

.page-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: opacity 0.5s; }
  .page-top img {
    width: 100%;
    height: auto; }
  .page-top.display {
    opacity: 1; }
  .page-top.remove {
    opacity: 0; }

.item-profile {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 100px 60px;
  background-color: #ffffff; }
  .item-profile__inner {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
    .item-profile__inner__image {
      width: 43%;
      max-width: 550px; }
      .item-profile__inner__image img {
        width: 100%;
        height: auto; }
    .item-profile__inner__content {
      width: 50%; }
      .item-profile__inner__content--product-name {
        font-size: 32px;
        line-height: 1.3;
        font-family: "Poppins", arial;
        font-weight: 600; }
      .item-profile__inner__content--hr {
        width: 100%;
        display: block;
        border-top: 1px dashed #808080;
        margin: 24px 0; }
      .item-profile__inner__content--product-detail {
        font-size: 18px;
        line-height: 1.5;
        font-family: "Poppins", arial;
        font-weight: 500; }
      .item-profile__inner__content__info {
        width: 100%;
        border: 1px solid #b2b2b2;
        margin-top: 20px; }
        .item-profile__inner__content__info__row {
          width: 100%;
          border: 1px solid #b2b2b2;
          background-color: #eaf0f2; }
          .item-profile__inner__content__info__row:nth-child(2n) {
            background-color: #ffffff; }
          .item-profile__inner__content__info__row--title {
            padding: 12px 10px;
            width: 33%;
            border-right: 1px solid #b2b2b2;
            font-size: 18px;
            line-height: 1;
            font-family: "Poppins", arial;
            font-weight: 500; }
          .item-profile__inner__content__info__row--detail {
            padding: 12px 10px;
            width: 67%;
            font-size: 18px;
            line-height: 1;
            font-family: "Poppins", arial;
            font-weight: 500; }
      .item-profile__inner__content__cooking {
        margin-top: 24px; }
        .item-profile__inner__content__cooking--title {
          font-size: 18px;
          line-height: 1.5;
          font-family: "Poppins", arial;
          font-weight: 700; }
        .item-profile__inner__content__cooking--detail {
          font-size: 18px;
          line-height: 1.5;
          font-family: "Poppins", arial;
          font-weight: 500; }
      .item-profile__inner__content--all-list-btn {
        margin-top: 24px;
        display: block;
        width: fit-content;
        padding: 20px 70px;
        background-color: #64b1ba;
        font-size: 18px;
        line-height: 1;
        font-family: "Poppins", arial;
        font-weight: 600;
        color: #ffffff;
        text-decoration: none;
        transition: background-color 0.3s; }
        .item-profile__inner__content--all-list-btn:hover {
          cursor: pointer;
          background-color: #70c6d0; }
